@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.prose{
  color:white;
}
.prose h1,
.prose h2,
.prose h3 {
  color: #60a5fa
}
.prose pre {
  background: #020617;
  padding: 14px;
  border-radius: 12px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 100%;
}

.prose code {
  color: #93c5fd;
  font-size: 0.85rem;
  word-break: break-word;
}

.chat-bubble pre {
  background: #020617;
  padding: 14px;
  border-radius: 12px;
  overflow-x: auto;
  border: 1px solid rgba(255,255,255,0.08);
}

.chat-bubble code {
  font-family: monospace;
  font-size: 0.85rem;
}

.chat-bubble :not(pre) > code {
  background: rgba(255,255,255,0.08);
  padding: 2px 6px;
  border-radius: 6px;
}

.chat-bubble pre::-webkit-scrollbar {
  height: 6px;
}
/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
